$themebluelight: #829CBC;

@keyframes neonGlow {
  0% {
    box-shadow: 0;
  }
  15% {
    box-shadow: 0 0 2dvw rebeccapurple;
  }
  30% {
    box-shadow: 0 0 2dvw royalblue;
  }
  45% {
    box-shadow: 0 0 2dvw green;
  }
  60% {
    box-shadow: 0 0 2dvw yellow;
  }
  75% {
    box-shadow: 0 0 2dvw orange;
  }
  90% {
    box-shadow: 0 0 2dvw red;
  }


}

//this was overly complex, just used transform and transition values instead
// @keyframes cardHover {
//   from {
//     scale: 100%;
//   }

//   to {
//     scale: 110%;
//   }
// }

// @keyframes reverseCardHover {
//   from {
//     scale: 110%;
//   }

//   to {
//     scale: 100%;
//   }
// }