$themebluelight: #829CBC;

@keyframes neonGlow {
  0% {
    box-shadow: 0;
  }
  15% {
    box-shadow: 0 0 2dvw rebeccapurple;
  }
  30% {
    box-shadow: 0 0 2dvw royalblue;
  }
  45% {
    box-shadow: 0 0 2dvw green;
  }
  60% {
    box-shadow: 0 0 2dvw yellow;
  }
  75% {
    box-shadow: 0 0 2dvw orange;
  }
  90% {
    box-shadow: 0 0 2dvw red;
  }


}

@mixin neonEffect($col-1, $col-2) {
  $main: $col-1;
  $glow: $col-2;

  box-shadow: 
    0 0 5px $main, 0 0 15px $main, 
    0 0 20px $main, 0 0 40px $glow,
    0 0 60px $glow, 0 0 98px $glow;
}