@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Iceland&family=Tilt+Neon&display=swap");
@keyframes neonGlow {
  0% {
    box-shadow: 0;
  }
  15% {
    box-shadow: 0 0 2dvw rebeccapurple;
  }
  30% {
    box-shadow: 0 0 2dvw royalblue;
  }
  45% {
    box-shadow: 0 0 2dvw green;
  }
  60% {
    box-shadow: 0 0 2dvw yellow;
  }
  75% {
    box-shadow: 0 0 2dvw orange;
  }
  90% {
    box-shadow: 0 0 2dvw red;
  }
}
* {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Tilt Neon", sans-serif;
  color: #0E192F;
}

header {
  width: 100dvw;
  height: 10dvh;
  background-color: #070f26;
  justify-content: space-between;
  align-items: center;
  color: #829CBC;
  font-family: "Iceland", sans-serif;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
}
header img {
  aspect-ratio: 1/1;
  height: 8dvh;
  width: auto;
  margin-left: 2dvw;
}
header section {
  color: inherit;
  font-family: inherit;
  justify-self: flex-end;
  margin-right: 2dvw;
  margin-bottom: 0.5dvw;
}
header section h1 {
  color: inherit;
  font-family: inherit;
  font-size: 4dvh;
  text-align: center;
}
header section h2 {
  color: inherit;
  font-family: inherit;
  text-align: center;
  font-size: x-large;
}
header section nav {
  margin-top: 0.5dvh;
  text-align: center;
}
header section nav button {
  background-color: #070f26;
  text-align: center;
  font-size: medium;
  color: #829CBC;
  transition: text-shadow, scale, 1s;
}
header section nav button:hover {
  text-shadow: 0 0 5px #67507E, 0 0 5px #67507E, 0 0 5px #67507E, 0 0 5px #67507E, 0 0 5px #67507E, 0 0 5px #67507E, 0 0 5px #67507E, 0 0 5px #67507E;
  scale: 110%;
}

body {
  background-color: #141F3C;
  padding-bottom: 0;
}

main#projectsPage {
  margin: 0;
  padding: 2dvw;
  padding-top: 5dvh;
  display: flex;
  justify-content: space-around;
}
main#projectsPage section#boxBorder {
  background-color: #384363;
  width: 45dvw;
  height: 70dvh;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: #4C3663 0px 0px 25px;
}
main#projectsPage section#projectCards {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 2dvh;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #581519 #384363;
  background-color: #384363;
  width: 45dvw;
  height: 70dvh;
  border-radius: 25px;
}
main#projectsPage section#projectCards h1 {
  margin-top: 1dvh;
  font-size: x-large;
  flex-basis: 100%;
  text-shadow: 0 0 0.25dvw #829CBC;
}
main#projectsPage section#projectCards .projectCard {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: space-evenly;
  border-radius: 25px;
  width: 40%;
  height: 30%;
  background-color: #515D7E;
  box-shadow: 0 0 2px #515D7E, inset 0 0 5px #070f26;
  transition: transform 3s ease;
}
main#projectsPage section#projectCards .projectCard a {
  flex-basis: 100%;
  text-decoration: none;
  height: 10%;
}
main#projectsPage section#projectCards .projectCard h3 {
  height: 10%;
  flex-basis: 100%;
  padding-top: 2%;
}
main#projectsPage section#projectCards .projectCard img {
  background-color: #141F3C;
  margin-left: 10px;
  height: 55%;
  width: 35%;
  border-radius: 50%;
  animation: neonGlow 10s ease-out;
}
main#projectsPage section#projectCards .projectCard div {
  width: 60%;
}
main#projectsPage section#projectCards .projectCard:hover {
  transform: scale(1.1);
}
main#projectsPage section#projectDetail {
  text-align: center;
  width: 45dvw;
  height: 70dvh;
  background-color: #384363;
  border-radius: 25px;
  box-shadow: #4C3663 0px 0px 25px;
}
main#projectsPage section#projectDetail h1 {
  margin-top: 1dvh;
  font-size: x-large;
  text-shadow: 0 0 0.25dvw #829CBC;
}

footer {
  color: #829CBC;
  display: flex;
  flex-direction: row;
  width: 100dvw;
  height: 10dvh;
  background-color: #070f26;
  bottom: 0px;
  position: absolute;
}
footer #footerNav {
  align-self: center;
  margin-left: 0.5%;
  color: #829CBC;
}
footer #footerNav * {
  color: #829CBC;
  text-decoration: none;
}
footer #footerNav a:hover {
  color: #67507E;
}
footer #mailto {
  margin-left: 1%;
  margin-top: 0.5%;
}
footer #mailto * {
  color: #829CBC;
}
footer #mailto p {
  display: none;
}
footer #mailto a:hover {
  color: #67507E;
}
footer #socialButtons {
  display: flex;
  margin-left: auto;
  margin-right: 2dvw;
  align-self: center;
  justify-content: space-between;
  width: 20%;
}
footer #socialButtons * {
  color: #829CBC;
  list-style: none;
}
footer #socialButtons i {
  font-size: 7.5dvh;
}
footer #socialButtons i:hover {
  color: #67507E;
}

@media (max-width: 600px) {
  * {
    font-size: x-small;
  }
  *:hover {
    pointer-events: none;
  }
  header img {
    height: 8dvh;
    width: auto;
  }
  header section nav button {
    transition: 0s;
  }
  footer {
    flex-flow: column wrap;
    margin: 0;
    padding: 0;
    height: 9dvh;
  }
  footer #footerNav {
    flex-basis: 100%;
    margin-left: 0;
    padding: 0;
    width: 45%;
  }
  footer #mailto {
    order: 1;
    width: 50%;
    text-align: right;
    margin-top: 1dvh;
  }
  footer #mailto a {
    display: none;
  }
  footer #mailto p {
    display: inline;
  }
  footer #socialButtons {
    text-align: justify;
    width: 50%;
    margin-left: 0;
    gap: 2dvw;
    align-items: center;
    justify-content: flex-end;
  }
  footer #socialButtons a i {
    font-size: medium;
  }
}/*# sourceMappingURL=style.css.map */