@use "./animations" as a;
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Tilt+Neon&display=swap');


// @use './neonthumb' as nt;

// //defining neon mixin - not what I wanted this to look like, will try animating a glow on keyframes instead
// @mixin neon($col-1, $col-2, $col-3, $col-4, $col-5, $col-6) {
    
//     box-shadow:  
//       0 0 0.1dvw $col-1, 0 0 0.2dvw $col-2, 
//       0 0 0.3dvw $col-3, 0 0 0.4dvw $col-4,
//       0 0 0.5dvw $col-5, 0 0 0.6dvw $col-6,
//       inset 0 0 0.1dvw $col-1;
//   }

//Breakpoint variable
$breakpointMobile: 600px;
$breakpointMinTablet: 601px;
$breakpointMaxTablet: 950px;

//Colour themes
$textdark: #0E192F;
$textlight: #829CBC;
$themebluedark: #070f26;
$themebluemiddark: #141F3C;
$themeblue: #222E4f;
$themebluemidlight: #384363;
$themebluelight: #515D7E;
$themereddark: #380407;
$themeredmiddark: #581519;
$themered: #732A2D;
$themeredmidlight: #91494D;
$themeredlight: #B76E72;
$themepurpledark: #160627;
$themepurplemiddark: #27123D;
$themepurple: #37204F;
$themepurplemidlight: #4C3663;
$themepurplelight: #67507E;

* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: "Tilt Neon", sans-serif; //test
    color: $textdark;
}

header {
    width: 100dvw;
    height: 10dvh;
    background-color: $themebluedark;
    justify-content: space-between;
    align-items: center;
    color: $textlight;
    font-family: 'Iceland', sans-serif;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;

    img {
        aspect-ratio: 1/1;
        height: 8dvh;
        width: auto;
        margin-left: 2dvw;
    }

    section {
        color: inherit;
        font-family: inherit;
        justify-self: flex-end;
        margin-right: 2dvw;
        margin-bottom: 0.5dvw;
        // width: 30%;
        // height: 7dvh;
        
        h1 {
            color: inherit;
            font-family: inherit;
            font-size: 4dvh;
            text-align: center;
        }

        h2 {
            color: inherit;
            font-family: inherit;
            text-align: center;
            font-size: x-large;
        }
    
        nav {
            // font-family: inherit;
            margin-top: 0.5dvh;
            text-align: center;

            button {
                background-color: $themebluedark;
                text-align: center;
                font-size: large;
                color: $textlight;
                transition: text-shadow, scale, 1s;
                // padding: 0.25%;
                // border-radius: 25%;
                // width:40%;
            }
    

        }
    }
    
    
}


body {
    background-color: $themebluemiddark;
    padding-bottom: 0;
    height: 100%;
    }

#projectsPage {
    height:100%;
    margin: 0;
    padding: 2dvw;
    padding-top: 5dvh;
    display: flex;
    justify-content: space-around;
    
    .boxBorder {
        background-color: $themebluemidlight;
        width:45dvw;
        height: 70dvh;
        border-radius: 25px;
        overflow:hidden;
        box-shadow: #4C3663 0px 0px 25px, inset $themeredmiddark 0px 0px 25px;
    }

    #projectCards{ 
        text-align: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        row-gap: 2dvh;
        overflow: scroll;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: $themeredmiddark $themebluemidlight;
        background-color: $themebluemidlight;
        width:45dvw;
        height: 70dvh;
        border-radius: 25px;
        // box-shadow: inset $themeredmiddark 0px 0px 12.5px;
        
        h1 {
            order:-2;
            margin-top: 1dvh;
            font-size: x-large;
            flex-basis: 100%;
            text-shadow: 0 0 0.25dvw $textlight;
        }

        .projectCard{
            display: flex;
            flex-flow: row wrap;
            text-align: center;
            justify-content: space-evenly;
            // align-items: center;
            border-radius: 25px;
            width:40%;
            height:30%;
            background-color: $themebluelight;
            box-shadow: 0 0 2px $themebluelight, inset 0 0 5px $themebluedark;
            transition: transform 3s ease;
            
            .detailLink {
                flex-basis: 100%;
                text-decoration: none;
                height: 10%;
            }

            .imageLink {
                height: auto;
                width: 35%;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            h3 {
                height: 10%;
                flex-basis: 100%;
                padding-top: 2%;
            }

            img {
                background-color: $themebluemiddark;
                margin-left: 10px;
                height: 55%;
                width: 35%;
                border-radius: 50%;
                animation: neonGlow 10s ease-out;
                // literally none of the below worked because I was struggling to remember how to add in partials!
                // @include neon(rebeccapurple,royalblue,green,yellow,orange,red);
                // @include nt;
                // @include neon(royalblue, green, yellow, orange, red, rebeccapurple); not working for some reason, no errors but not compiling to css
            }
           
            div {
                width: 60%;
                margin-left: 1%;
                height: 55%;
                // align-self: center;
                // align-content: center;
            }
        }

        #portfolioCard {
            order: -1;
        }

    }

    #projectDetail{
        gap: 2%;
        text-align: center;
        width:45dvw;
        height: 70dvh;
        background-color: $themebluemidlight;
        border-radius: 25px;
        box-shadow: #4C3663 0px 0px 25px;
        overflow: scroll;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: $themeredmiddark $themebluemidlight;
        background-color: $themebluemidlight;

        h1 {
            height: auto;
            margin-top: 1dvh;
            font-size: x-large;
            text-shadow: 0 0 0.25dvw $textlight;
        }

        .projectDetails {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            width: 100%;
            row-gap: 2dvh;


        }

        .projectInfo {
            padding: 1dvh;
            width: 85%;
            margin: auto;
            box-shadow: inset 0 0 5px $themereddark, 0 0 5px $themeredlight;
            border-radius: 25px;
            


            p {
                font-size: large;
            }
        }

    }
}


footer {
    color: $textlight;
    // margin-left: 0;
    display: flex;
    flex-direction: row;
    width: 100dvw;
    height: 10dvh;
    background-color: $themebluedark;
    bottom: 0px;
    position: absolute;   
    // justify-content: flex-start;
    // gap: 2dvw;
    // align-items: center;

    // @media (max-width: $breakpoint-mobile) {
    //     margin-left: 0;
    // }



    #footerNav {
        align-self: center;
        margin-left: 0.5%;
        color: $textlight;


        * {
        color: $textlight;
        text-decoration: none;
        // margin-top: 0.2dvh;
        }
        


        a:hover {
            color: $themepurplelight;
        }

    }

    #mailto {
        // align-self: center;
        // text-align: center;
        margin-left: 1%;
        margin-top: 0.5%;

        * {
            color: $textlight;
            // text-align: center;
        }

        p {
            display: none;
        }
        a:hover{
            color: $themepurplelight;
        }

    }

    #socialButtons {
        display: flex;
        margin-left: auto;
        margin-right: 2dvw;
        align-self: center;
        justify-content: space-around;
        width: 20%;

        

        * {
        color: $textlight;
        list-style: none;
        // justify-self: end;
        }
        
        i {
            font-size: 7.5dvh;



        }


    }

    // footer:last-child {
    //     margin-left:auto;
    // }


    // section ul li unnessecary declarations for these sections



    // li {
    //     list-style: none;
    //     color: $textlight;

    // }

    // a {
    //     color: $textlight;
    //     text-decoration: none;
    // }

    
}

// #projectsPage {    
   
// }

// #projectCards {
//     display: flex;
//     background-color: $themebluedark;
//     color: $textlight;
// }

// @media screen {
    
// }

@media (min-width:$breakpointMaxTablet) {
    
    header section nav button:hover {
        // background-color: $themepurplelight;
        text-shadow: 0 0 5px $themepurplelight, 0 0 5px $themepurplelight, 0 0 5px $themepurplelight, 0 0 5px $themepurplelight, 0 0 5px $themepurplelight, 0 0 5px $themepurplelight, 0 0 5px $themepurplelight, 0 0 5px $themepurplelight;
        scale: 110%;
    }

    .projectCard:hover{
        transform: scale(1.1);
    }

    #socialButtons i:hover {
        color: $themepurplelight;
    }
}


@media (max-width: $breakpointMobile) {
    * {
        font-size: small;
    }  

    // main {
    //     // height:auto;
    // }

    header {
        font-size: x-small;
        padding-bottom: 2%;

        img {
            height: 8dvh;
            width: auto;
        }

        section nav button {
            transition: 0s;
            font-size: small;
            text-decoration: underline;
        }
    }

    footer {    
        * {
            font-size: xx-small;
        }

        flex-flow: column wrap;
        // align-items: center;
        justify-content: center;
        margin-top: 0;
        padding: 0;
        padding-bottom: 2dvh;
        height: 8dvh;
        position: relative;
        bottom: 0px;

        #footerNav {
            flex-basis: 80%;
            margin-left: 0;
            padding: 0;
            width:45%;
            // width: auto;
        }

        #mailto {
            order: 1;
            width:50%;
            text-align: right;
            margin-top: 0.5dvh;

            a {
                display: none;
            }
            
            p {
                display: inline;
            }
        }
        
        #socialButtons {
            // padding-top: 2%;
            // text-align: justify;
            width: 50%;
            margin-left: 0;
            gap: 2dvw;
            // flex-basis: 50%;
            // align-items: center;
            justify-content: flex-end;
            a i {
                font-size: medium;
                // width: 60%;
                // text-align: 
            }
        }
        
        
    }

    #projectsPage {
        // margin: 2dvw;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
        overflow: scroll; 
        padding:2dvh;

        #boxBorder , #projectCards {         
            height: auto;
            width: 90dvw;
            overflow: visible;
            margin-top: 0;
            padding-top: 0;
            margin-bottom: 2dvh;
            // padding-bottom: 2dvh;

            .projectCard {
                width: 90%;
                height: 35%;
                padding: 1%;
                padding-bottom: 4%;
                // font-size: small;
                // height: auto;

                h3 {
                    margin-bottom: 3%;
                }


                // img {
                //     height: fit-content;
                // }

            }
        }

    #projectDetail {
        width: 90dvw;
        overflow: visible;
        height: auto;
        padding: 1%;
        padding-bottom: 4%;
    }
    }
}

