@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

//Colour themes
$textdark: #0E192F;
$textlight: #829CBC;
$themebluedark: #070F26;
$themebluemiddark: #141F3C;
$themeblue: #222E4f;
$themebluemidlight: #384363;
$themebluelight: #515D7E;
$themereddark: #380407;
$themeredmiddark: #581519;
$themered: #732A2D;
$themeredmidlight: #91494D;
$themeredlight: #B76E72;
$themepurpledark: #160627;
$themepurplemiddark: #27123D;
$themepurple: #37204F;
$themepurplemidlight: #4C3663;
$themepurplelight: #67507E;

* {
    border: 0;
    margin: 0;
    font-family: "Tilt Neon", sans-serif; //test
}

header {
    width: 100dvw;
    height: 10dvh;
    background-color: $themebluedark;
}


body {
    background-color: $themebluemiddark;
    }

main#projectsPage {
    padding: 2dvh;
    padding-top: 5dvh;
    display: flex;
    justify-content: space-around;
    
    section#boxBorder {
        background-color: $themebluemidlight;
        width:45dvw;
        height: 70dvh;
        border-radius: 25px;
        overflow:hidden;
    }

    section#projectCards{ 
        text-align: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        row-gap: 2dvh;
        overflow: scroll;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: $themeredmiddark $themebluemidlight;
        background-color: $themebluemidlight;
        width:45dvw;
        height: 70dvh;
        border-radius: 25px;
        box-shadow: #4C3663 0px 0px 25px;
        
        h1 {
            flex-basis: 100%;
        }

        article.projectCard{
            display: flex;
            flex-flow: row wrap;
            text-align: center;
            justify-content: space-evenly;
            border-radius: 25px;
            width:40%;
            height:30%;
            background-color: $themebluelight;
            
            h3 {
                flex-basis: 100%;
            }

            img {
                aspect-ratio: 16/9;
                width: 35%;
                border-radius: 50%;
            }

            div {
                width: 60%;
            }
        }
    }

    section#projectDetail{
        text-align: center;
        width:45dvw;
        height: 70dvh;
        background-color: $themebluemidlight;
        border-radius: 25px;
        box-shadow: #4C3663 0px 0px 25px;

    }
}


footer {
    width: 100dvw;
    height: 10dvh;
    background-color: $themebluedark;
    bottom: 0px;
    position: absolute;   
    display: flex;
}

// #projectsPage {    
   
// }

// #projectCards {
//     display: flex;
//     background-color: $themebluedark;
//     color: $textlight;
// }

