//Colour themes
$textdark: #0E192F;
$textlight: #829CBC;
$themebluedark: #070F26;
$themebluemiddark: #141F3C;
$themeblue: #222E4f;
$themebluemidlight: #384363;
$themebluelight: #515D7E;
$themereddark: #380407;
$themeredmiddark: #581519;
$themered: #732A2D;
$themeredmidlight: #91494D;
$themeredlight: #B76E72;
$themepurpledark: #160627;
$themepurplemiddark: #27123D;
$themepurple: #37204F;
$themepurplemidlight: #4C3663;
$themepurplelight: #67507E;