@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Iceland&family=Tilt+Neon&display=swap");
@keyframes neonGlow {
  0% {
    box-shadow: 0;
  }
  15% {
    box-shadow: 0 0 2dvw rebeccapurple;
  }
  30% {
    box-shadow: 0 0 2dvw royalblue;
  }
  45% {
    box-shadow: 0 0 2dvw green;
  }
  60% {
    box-shadow: 0 0 2dvw yellow;
  }
  75% {
    box-shadow: 0 0 2dvw orange;
  }
  90% {
    box-shadow: 0 0 2dvw red;
  }
}
@keyframes pickAxe {
  80% {
    transform: rotate(-0.125turn);
  }
  95% {
    translate: -5px;
  }
  97% {
    translate: 5px;
  }
  99% {
    translate: -5px;
  }
  100% {
    translate: 5px;
  }
}
@keyframes tuxedoCat {
  25% {
    translate: 50px;
  }
  50% {
    translate: 60px;
  }
  75% {
    translate: 100px;
  }
  100% {
    translate: -250px;
  }
}
* {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Tilt Neon", sans-serif;
  color: #0E192F;
}

header {
  width: 100dvw;
  height: 10dvh;
  background-color: #070f26;
  justify-content: space-between;
  align-items: center;
  color: #829CBC;
  font-family: "Iceland", sans-serif;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
header img {
  aspect-ratio: 1/1;
  height: 8dvh;
  width: auto;
  margin-left: 2dvw;
}
header section {
  color: inherit;
  font-family: inherit;
  justify-self: flex-end;
  margin-right: 2dvw;
  margin-bottom: 0.5dvw;
}
header section h1 {
  color: inherit;
  font-family: inherit;
  font-size: 4dvh;
  text-align: center;
}
header section h2 {
  color: inherit;
  font-family: inherit;
  text-align: center;
  font-size: x-large;
}
header section nav {
  margin-top: 0.5dvh;
  text-align: center;
}
header section nav button {
  background-color: #070f26;
  text-align: center;
  font-size: large;
  color: #829CBC;
  transition: text-shadow, scale, 1s;
}

body {
  background-color: #141F3C;
  padding-bottom: 0;
  height: 100%;
}

#homePage {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 2dvw;
  padding-top: 4dvh;
  display: flex;
  justify-content: space-around;
}
#homePage #profilePhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70dvh;
  width: 30dvw;
}
#homePage #profilePhoto img {
  height: auto;
  width: auto;
  border-radius: 50%;
  box-shadow: 0 0 5px #67507E, 0 0 15px #67507E, 0 0 20px #67507E, 0 0 40px #B76E72, 0 0 60px #B76E72, 0 0 98px #B76E72;
}
#homePage #aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 71.5dvh;
  width: 40dvw;
  border-radius: 25px;
  background-color: #384363;
  box-shadow: #4C3663 0px 0px 25px;
}
#homePage #aboutMe * {
  padding: 1%;
}
#homePage #aboutMe h1 {
  text-shadow: 0 0 0.25dvw #829CBC;
}
#homePage #aboutMe #wrapper {
  display: flex;
  flex-direction: column;
  height: 85%;
  width: 90%;
  border-radius: 25px;
  background-color: #515D7E;
  box-shadow: 0 0 5px #91494D, inset 0 0 5px #380407;
  margin-bottom: 2%;
  padding-bottom: 2%;
}
#homePage #aboutMe #wrapper h3, #homePage #aboutMe #wrapper p {
  text-align: center;
  width: 90%;
  margin: auto;
}
#homePage #aboutMe #progLang {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
#homePage #aboutMe #progLang .badgeRows {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  scale: 150%;
}
#homePage #hobbiesInterests {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 71.5dvh;
  width: 20dvw;
  border-radius: 25px;
  background-color: #384363;
  box-shadow: #4C3663 0px 0px 25px;
}
#homePage #hobbiesInterests h1 {
  height: auto;
  padding: 5%;
}
#homePage #hobbiesInterests .Hobbie {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: #515D7E;
  box-shadow: 0 0 5px #91494D, inset 0 0 5px #380407;
  margin: auto;
  height: 25%;
  width: 90%;
}
#homePage #hobbiesInterests .Hobbie img {
  padding: 3%;
  aspect-ratio: 1/1;
  width: 30%;
  border-radius: 50%;
  align-self: center;
}
#homePage #hobbiesInterests .Hobbie p {
  width: 60%;
  padding: 2%;
}
#homePage #hobbiesInterests h1 {
  text-align: center;
  text-shadow: 0 0 0.25dvw #829CBC;
}
#homePage #tuxCat {
  rotate: 90deg;
  position: fixed;
  top: 10%;
  left: -250px;
  animation: tuxedoCat 10s linear;
}

#projectsPage {
  height: 100%;
  margin: 0;
  padding: 2dvw;
  padding-top: 4dvh;
  display: flex;
  justify-content: space-around;
}
#projectsPage .boxBorder {
  width: 45dvw;
  height: 71.5dvh;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: #4C3663 0px 0px 25px;
}
#projectsPage #projectCards {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 2dvh;
  overflow: visible;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #581519 #384363;
  background-color: #384363;
  width: 45dvw;
  height: 70dvh;
  border-radius: 25px;
  padding-bottom: 15dvh;
}
#projectsPage #projectCards h1 {
  order: -2;
  margin-top: 1dvh;
  font-size: x-large;
  flex-basis: 100%;
  text-shadow: 0 0 0.25dvw #829CBC;
}
#projectsPage #projectCards .projectCard {
  display: flex;
  flex-flow: row wrap;
  row-gap: 2%;
  text-align: center;
  justify-content: space-evenly;
  border-radius: 25px;
  width: 40%;
  height: 30%;
  background-color: #515D7E;
  box-shadow: 0 0 5px #91494D, inset 0 0 5px #380407;
  transition: transform 3s ease;
}
#projectsPage #projectCards .projectCard .detailLink {
  flex-basis: 100%;
  text-decoration: none;
  height: 10%;
}
#projectsPage #projectCards .projectCard .imageLink {
  height: auto;
  width: 35%;
}
#projectsPage #projectCards .projectCard .imageLink img {
  width: 100%;
  height: auto;
}
#projectsPage #projectCards .projectCard h3 {
  height: 10%;
  flex-basis: 100%;
  padding-top: 2%;
  padding-left: 2%;
  text-shadow: 0 0 0.25dvw #829CBC;
}
#projectsPage #projectCards .projectCard img {
  margin-left: 10px;
  height: 55%;
  width: 35%;
  border-radius: 50%;
  animation: neonGlow 10s ease-out;
}
#projectsPage #projectCards .projectCard div {
  width: 60%;
  margin-left: 2%;
  height: 55%;
}
#projectsPage #projectCards #portfolioCard {
  order: -1;
}
#projectsPage #projectDetail {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 2dvh;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #581519 #384363;
  background-color: #384363;
  width: 45dvw;
  height: 70dvh;
  border-radius: 25px;
  padding-bottom: 1.5dvh;
}
#projectsPage #projectDetail h1 {
  height: auto;
  margin-top: 1dvh;
  font-size: x-large;
  text-shadow: 0 0 0.25dvw #829CBC;
}
#projectsPage #projectDetail .projectDetails {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;
  row-gap: 2dvh;
  margin: 0;
}
#projectsPage #projectDetail .projectInfo {
  padding: 1dvh;
  width: 85%;
  margin: auto;
  box-shadow: inset 0 0 5px #380407, 0 0 5px #91494D;
  border-radius: 25px;
  background-color: #515D7E;
}
#projectsPage #projectDetail .projectInfo h3 {
  text-shadow: 0 0 0.25dvw #829CBC;
}

#workHistoryPage {
  height: 100%;
  padding: 2dvw;
  padding-top: 4dvh;
  display: flex;
  justify-content: space-around;
}
#workHistoryPage #workHistory {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  width: 65dvw;
  height: 71.5dvh;
  border-radius: 25px;
  overflow: hidden;
  background-color: #384363;
  box-shadow: #4C3663 0px 0px 25px;
}
#workHistoryPage #workHistory h1 {
  margin: auto;
  padding-left: 2%;
  flex-basis: 100%;
  height: auto;
  text-shadow: 0 0 0.25dvw #829CBC;
}
#workHistoryPage #workHistory h3 {
  margin-top: -1%;
  padding-left: 2%;
  flex-basis: 100%;
  height: auto;
  text-shadow: 0 0 0.25dvw #829CBC;
}
#workHistoryPage #workHistory .workCard {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  height: 80%;
  width: 30%;
  background-color: #515D7E;
  border-radius: 25px;
  box-shadow: 0 0 5px #91494D, inset 0 0 5px #380407;
}
#workHistoryPage #workHistory .workCard a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 15%;
  align-self: center;
}
#workHistoryPage #workHistory .workCard #ZVlogo {
  margin-top: 10%;
  align-self: center;
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
}
#workHistoryPage #workHistory .workCard #brooksfield {
  align-self: center;
  aspect-ratio: 1/0.3;
  height: auto;
  width: 90%;
  margin-top: 10%;
}
#workHistoryPage #workHistory .workCard #placeH {
  margin-top: 10%;
  aspect-ratio: 1/1;
  height: 100%;
}
#workHistoryPage #workHistory .workCard .jobDescript {
  font-size: 14px;
  margin-top: 5%;
  padding: 2%;
}
#workHistoryPage #workHistory .workCard .jobDescript p {
  margin-top: 0.5%;
  padding-left: 2%;
}
#workHistoryPage #workHistory .workCard .jobDescript ul {
  font-weight: bold;
  padding-left: 8%;
}
#workHistoryPage #documents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 25dvw;
  height: 71.5dvh;
  border-radius: 25px;
  overflow: hidden;
  background-color: #384363;
  box-shadow: #4C3663 0px 0px 25px;
  text-shadow: 0 0 0.25dvw #829CBC;
}
#workHistoryPage #documents h1 {
  padding-top: 2%;
  text-align: center;
  padding-left: 2%;
  flex-basis: 100%;
  height: 5%;
}
#workHistoryPage #documents .documentCard {
  display: flex;
  flex-flow: row wrap;
  row-gap: 2%;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 35%;
  border-radius: 25px;
  background-color: #515D7E;
  box-shadow: 0 0 5px #91494D, inset 0 0 5px #380407;
}
#workHistoryPage #documents .documentCard .imageLink {
  width: 35%;
}
#workHistoryPage #documents .documentCard .imageLink img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-left: 10%;
}
#workHistoryPage #documents .documentCard div {
  width: 60%;
  margin-left: 2%;
  height: 40%;
}
#workHistoryPage #documents .documentCard div p {
  margin-top: 2%;
}

#contactMePage {
  height: 100%;
  padding: 2dvw;
  padding-top: 4dvh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#contactMePage #contactForm {
  display: flex;
  flex-flow: row wrap;
  padding: 2%;
  border-radius: 25px;
  height: auto;
  width: 30%;
  background-color: #515D7E;
  box-shadow: #4C3663 0px 0px 25px;
}
#contactMePage #contactForm label {
  flex-basis: 100%;
  height: 10%;
}
#contactMePage #contactForm input {
  width: 90%;
  padding: 2%;
  margin-top: 2%;
  margin-bottom: 1%;
}
#contactMePage #contactForm textarea {
  resize: none;
  width: 90%;
  padding: 2%;
  margin-top: 2%;
  margin-bottom: 1%;
}
#contactMePage #contactForm #submit {
  width: 30%;
}
#contactMePage .contactPhoto {
  margin-top: 4%;
  width: 25%;
  height: 50%;
  text-align: center;
}
#contactMePage .contactPhoto * {
  color: #829CBC;
  text-shadow: 0 0 5px #732A2D, 0 0 2px #B76E72;
}
#contactMePage .contactPhoto img {
  filter: grayscale(1);
  border-radius: 50%;
  max-width: 100%;
}
#contactMePage .contactPhoto h1 {
  padding-top: 2%;
}

#underConstructionPage {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  font-size: 48px;
}
#underConstructionPage * {
  text-shadow: 0 0 5px #4C3663, 0 0 15px #4C3663, 0 0 20px #4C3663, 0 0 40px #37204F, 0 0 60px #37204F, 0 0 98px #37204F;
  color: #67507E;
  font-family: "Iceland", sans-serif;
  height: 50%;
  padding: 5%;
}
#underConstructionPage h1 {
  margin-top: 2%;
  line-height: auto;
}
#underConstructionPage #pickAxe {
  order: -1;
  width: auto;
  height: auto;
  filter: grayscale(0.6);
  animation: pickAxe 1s infinite linear;
}

footer {
  color: #829CBC;
  display: flex;
  flex-direction: row;
  width: 100dvw;
  height: 10dvh;
  background-color: #070f26;
  bottom: 0px;
  position: absolute;
  overflow: hidden;
}
footer #footerNav {
  align-self: center;
  margin-left: 0.5%;
  color: #829CBC;
}
footer #footerNav * {
  color: #829CBC;
  text-decoration: none;
}
footer #footerNav a:hover {
  color: #67507E;
}
footer #mailto {
  margin-left: 1%;
  margin-top: 0.5%;
}
footer #mailto * {
  color: #829CBC;
}
footer #mailto p {
  display: none;
}
footer #mailto a:hover {
  color: #67507E;
}
footer #socialButtons {
  display: flex;
  margin-left: auto;
  margin-right: 2dvw;
  align-self: center;
  justify-content: space-around;
  width: 20%;
}
footer #socialButtons * {
  color: #829CBC;
  list-style: none;
}
footer #socialButtons i {
  font-size: 7.5dvh;
}

@media only screen and (min-width: 951px) {
  header section nav button:hover {
    text-shadow: 0 0 5px #67507E, 0 0 5px #67507E, 0 0 5px #67507E, 0 0 5px #67507E, 0 0 5px #67507E, 0 0 5px #67507E, 0 0 5px #67507E, 0 0 5px #67507E;
    scale: 110%;
  }
  .projectCard:hover {
    transform: scale(1.1);
  }
  #socialButtons i:hover {
    color: #67507E;
  }
  .projectInfo p {
    font-size: large;
  }
}
@media only screen and (min-width: 601px) and (max-width: 950px) {
  * {
    font-size: medium;
  }
  footer {
    flex-flow: column wrap;
    justify-content: center;
    margin-top: 0;
    padding: 0;
    padding-bottom: 2dvh;
    height: 8dvh;
    position: relative;
    bottom: 0px;
  }
  footer #footerNav {
    flex-basis: 80%;
    margin-left: 1%;
    padding: 0;
    width: 45%;
  }
  footer #mailto {
    order: 1;
    width: 50%;
    text-align: right;
    margin-top: 0.5dvh;
  }
  footer #mailto a {
    display: none;
  }
  footer #mailto p {
    display: inline;
  }
  footer #socialButtons {
    width: 50%;
    margin-left: 0;
    gap: 2dvw;
    justify-content: flex-end;
  }
  footer #socialButtons a i {
    font-size: 32px;
  }
  #homePage {
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    padding: 2dvh;
    font-size: medium;
  }
  #homePage #profilePhoto {
    width: 80dvw;
    height: auto;
    margin: auto;
    padding: 5%;
    padding-bottom: 10%;
  }
  #homePage #profilePhoto img {
    max-width: 100%;
    box-shadow: 0 0 2px #67507E, 0 0 6px #67507E, 0 0 8px #67507E, 0 0 16px #B76E72, 0 0 24px #B76E72, 0 0 48px #B76E72;
  }
  #homePage #aboutMe {
    height: auto;
    width: 90dvw;
    overflow: visible;
    margin-top: 0;
    padding-top: 1%;
    margin-bottom: 2dvh;
    padding-bottom: 5%;
  }
  #homePage #aboutMe h1 {
    font-size: x-large;
  }
  #homePage #aboutMe #wrapper {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 2%;
    width: 90%;
    margin-top: 2%;
  }
  #homePage #aboutMe #wrapper #progLang {
    max-width: 70%;
  }
  #homePage #aboutMe #wrapper #progLang .badgeRows {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }
  #homePage #aboutMe #wrapper #progLang .badgeRows * {
    margin: 1%;
    gap: 0;
    height: auto;
    width: 15%;
  }
  #homePage #aboutMe #wrapper h3, #homePage #aboutMe #wrapper p {
    font-size: large;
  }
  #homePage #hobbiesInterests {
    justify-content: space-between;
    height: 80dvh;
    width: 90dvw;
    overflow: visible;
    padding-top: 1%;
    margin-bottom: 2dvh;
    padding-bottom: 5%;
  }
  #homePage #hobbiesInterests h1 {
    font-size: x-large;
    height: auto;
    padding: 1%;
  }
  #homePage #hobbiesInterests .Hobbie {
    margin: auto;
    flex-direction: row;
    padding: 1%;
    width: 85%;
    height: 25%;
  }
  #homePage #hobbiesInterests .Hobbie p {
    font-size: large;
  }
  #homePage #tuxCat {
    scale: 90%;
  }
  #projectsPage {
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    padding: 2dvh;
  }
  #projectsPage .boxBorder, #projectsPage #projectCards {
    height: auto;
    width: 92dvw;
    overflow: visible;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 2dvh;
    padding-bottom: 1%;
    background-color: #384363;
  }
  #projectsPage .boxBorder h1, #projectsPage #projectCards h1 {
    font-size: xx-large;
  }
  #projectsPage .boxBorder .projectCard, #projectsPage #projectCards .projectCard {
    width: 45%;
    height: 35%;
    padding: 1%;
    padding-bottom: 4%;
  }
  #projectsPage .boxBorder .projectCard h3, #projectsPage #projectCards .projectCard h3 {
    font-size: large;
    margin-bottom: 5%;
  }
  #projectsPage #projectDetail {
    width: 90dvw;
    overflow: visible;
    height: auto;
    padding: 1%;
    padding-bottom: 4%;
  }
  #projectsPage #projectDetail h1 {
    font-size: xx-large;
  }
  #projectsPage #projectDetail .projectDetails {
    margin: 0;
    padding: 0;
  }
  #projectsPage #projectDetail .projectDetails .projectInfo {
    margin: auto;
    width: 90%;
  }
  #projectsPage #projectDetail .projectDetails .projectInfo h3 {
    font-size: x-large;
  }
  #projectsPage #projectDetail .projectDetails .projectInfo p {
    font-size: large;
    padding-left: 3%;
    padding-right: 3%;
  }
  #workHistoryPage {
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    padding: 2dvh;
    font-size: medium;
  }
  #workHistoryPage h3 {
    font-size: large;
  }
  #workHistoryPage #workHistory {
    flex-direction: column;
    align-content: center;
    height: auto;
    width: 87.5dvw;
    overflow: visible;
    padding: 2dvw;
    padding-bottom: 4dvw;
    margin: auto;
    margin-bottom: 2dvh;
    background-color: #384363;
  }
  #workHistoryPage #workHistory h1 {
    width: 100%;
    text-align: left;
    font-size: x-large;
  }
  #workHistoryPage #workHistory .workCard {
    margin: auto;
    width: 88%;
    margin-top: 5%;
    padding: 3%;
  }
  #workHistoryPage #workHistory .workCard h3 {
    size: large;
  }
  #workHistoryPage #workHistory .workCard a {
    height: auto;
  }
  #workHistoryPage #workHistory .workCard #ZVlogo {
    margin-top: -5%;
    margin-bottom: -10%;
  }
  #workHistoryPage #workHistory .workCard #placeH {
    scale: 60%;
    height: auto;
    margin-top: -10%;
    margin-bottom: -20%;
  }
  #workHistoryPage #documents {
    flex-direction: column;
    align-content: center;
    height: auto;
    width: 87.5dvw;
    padding: 2dvw;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  #workHistoryPage #documents .documentCard {
    width: 88%;
    padding: 3%;
    margin: 2%;
  }
  #workHistoryPage #documents .documentCard .imageLink {
    scale: 80%;
  }
  #contactMePage {
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    padding: 2dvh;
  }
  #contactMePage a, #contactMePage h1 {
    font-size: large;
  }
  #contactMePage .contactPhoto {
    width: 45dvw;
    margin: auto;
  }
  #contactMePage #contactForm {
    order: 1;
    width: 80dvw;
    padding: 5dvw;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #515D7E;
  }
  #contactMePage #contactForm * {
    font-size: large;
  }
  #underConstructionPage {
    flex-direction: column;
    justify-content: center;
  }
  #underConstructionPage h1 {
    line-height: auto;
    font-size: 75px;
    height: 40%;
    width: auto;
    align-self: center;
    margin: auto;
  }
  #underConstructionPage h3 {
    line-height: auto;
    font-size: 50px;
    height: auto;
  }
  #underConstructionPage #pickAxe {
    scale: 80%;
    height: 20dvh;
    width: auto;
    margin: auto;
  }
  .unscrollFooter {
    position: fixed;
    bottom: 0px;
  }
}
@media only screen and (max-width: 600px) {
  * {
    font-size: small;
  }
  header {
    padding-top: 2%;
    font-size: x-small;
    padding-bottom: 2%;
  }
  header img {
    height: 8dvh;
    width: auto;
  }
  header section nav button {
    transition: 0s;
    font-size: small;
    text-decoration: underline;
  }
  footer {
    flex-flow: column wrap;
    justify-content: center;
    margin-top: 0;
    padding: 0;
    padding-bottom: 2dvh;
    height: 8dvh;
    position: relative;
    bottom: 0px;
  }
  footer * {
    font-size: xx-small;
  }
  footer #footerNav {
    flex-basis: 80%;
    margin-left: 1%;
    padding: 0;
    width: 45%;
  }
  footer #mailto {
    order: 1;
    width: 50%;
    text-align: right;
    margin-top: 0.5dvh;
  }
  footer #mailto a {
    display: none;
  }
  footer #mailto p {
    display: inline;
  }
  footer #socialButtons {
    width: 50%;
    margin-left: 0;
    gap: 2dvw;
    justify-content: flex-end;
  }
  footer #socialButtons a i {
    font-size: medium;
  }
  #homePage {
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    padding: 2dvh;
  }
  #homePage #profilePhoto {
    width: 80dvw;
    height: auto;
    margin: auto;
    padding: 5%;
    padding-bottom: 10%;
  }
  #homePage #profilePhoto img {
    max-width: 100%;
    box-shadow: 0 0 2px #67507E, 0 0 6px #67507E, 0 0 8px #67507E, 0 0 16px #B76E72, 0 0 24px #B76E72, 0 0 48px #B76E72;
  }
  #homePage #aboutMe {
    height: auto;
    width: 90dvw;
    overflow: visible;
    margin-top: 0;
    padding-top: 3%;
    margin-bottom: 2dvh;
    padding-bottom: 8%;
  }
  #homePage #aboutMe h1 {
    font-size: medium;
  }
  #homePage #aboutMe #wrapper {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 90%;
    margin-top: 2%;
  }
  #homePage #aboutMe #wrapper p {
    font-size: small;
  }
  #homePage #aboutMe #wrapper #progLang {
    width: 70%;
    max-width: 70%;
  }
  #homePage #aboutMe #wrapper #progLang .badgeRows {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: auto;
  }
  #homePage #aboutMe #wrapper #progLang .badgeRows * {
    margin: 1%;
    gap: 0;
    height: auto;
    width: 20%;
  }
  #homePage #hobbiesInterests {
    height: 71.5dvh;
    width: 90dvw;
    overflow: visible;
    margin-top: 5%;
    padding-top: 1%;
    margin-bottom: 2dvh;
    padding-bottom: 3%;
  }
  #homePage #hobbiesInterests h1 {
    font-size: large;
    padding: 2%;
  }
  #homePage #hobbiesInterests .Hobbie {
    flex-direction: row;
    padding: 1%;
  }
  #homePage #tuxCat {
    scale: 80%;
  }
  #projectsPage {
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    padding: 2dvh;
  }
  #projectsPage .boxBorder, #projectsPage #projectCards {
    height: auto;
    width: 90dvw;
    overflow: visible;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 2dvh;
    padding-bottom: 0;
    background-color: #384363;
  }
  #projectsPage .boxBorder .projectCard, #projectsPage #projectCards .projectCard {
    width: 90%;
    height: 35%;
    padding: 1%;
    padding-bottom: 4%;
  }
  #projectsPage .boxBorder .projectCard h3, #projectsPage #projectCards .projectCard h3 {
    margin-bottom: 3%;
  }
  #projectsPage #projectDetail {
    width: 90dvw;
    overflow: visible;
    height: auto;
    padding: 1%;
    padding-bottom: 4%;
  }
  #workHistoryPage {
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    padding: 2dvh;
  }
  #workHistoryPage h3 {
    font-size: medium;
  }
  #workHistoryPage #workHistory {
    flex-direction: column;
    align-content: center;
    height: auto;
    width: 87.5dvw;
    overflow: visible;
    padding: 2dvw;
    padding-bottom: 4dvw;
    margin: auto;
    margin-bottom: 2dvh;
    background-color: #384363;
  }
  #workHistoryPage #workHistory h1 {
    width: 100%;
    text-align: left;
    font-size: x-large;
  }
  #workHistoryPage #workHistory .workCard {
    margin: auto;
    width: 88%;
    margin-top: 5%;
    padding: 3%;
  }
  #workHistoryPage #workHistory .workCard a {
    height: auto;
  }
  #workHistoryPage #workHistory .workCard #ZVlogo {
    margin-top: -5%;
    margin-bottom: -10%;
  }
  #workHistoryPage #workHistory .workCard #placeH {
    scale: 60%;
    height: auto;
    margin-top: -15%;
    margin-bottom: -20%;
  }
  #workHistoryPage #documents {
    flex-direction: column;
    align-content: center;
    height: auto;
    width: 87.5dvw;
    padding: 2dvw;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  #workHistoryPage #documents .documentCard {
    width: 88%;
    padding: 3%;
    margin: 2%;
  }
  #workHistoryPage #documents .documentCard .imageLink {
    scale: 80%;
  }
  #contactMePage {
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    padding: 2dvh;
  }
  #contactMePage a, #contactMePage h1 {
    font-size: large;
  }
  #contactMePage .contactPhoto {
    width: 80dvw;
    margin-bottom: 5%;
  }
  #contactMePage #contactForm {
    order: -1;
    width: 80dvw;
    padding: 5dvw;
    margin-bottom: 5%;
    background-color: #515D7E;
  }
  #underConstructionPage {
    flex-direction: row wrap;
  }
  #underConstructionPage h1 {
    line-height: auto;
    font-size: xx-large;
    height: auto;
    width: auto;
    align-self: center;
    margin: auto;
  }
  #underConstructionPage h3 {
    line-height: auto;
    font-size: x-large;
    height: auto;
  }
  #underConstructionPage #pickAxe {
    scale: 50%;
    width: auto;
  }
  .unscrollFooter {
    position: fixed;
    bottom: 0px;
  }
}/*# sourceMappingURL=style.css.map */